* {
    background-color: #292a2f;
    color: #dfdfe0;
}

@media (min-width: 414px) {
    /* right now this doesn't have any purpose, but I'm leaving it here as a reminder on how to use this syntax */
    body { 
        max-width: 800px;
        margin: auto;
        font-family: sans-serif;
        font-size: 1.1rem;
    }
}
